{% extends 'base.html.twig' %}



{% block title %}Edit user Page{% endblock %}

{% block content %}
{% set genders = {
    'male': 'Male',
    'female': 'Female'
}
%}
{%
    set statuses = {
    'active': 'Active',
    'inactive': 'Inactive'
    
}
%}
    <form action="/users" method="post" id="editForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required value="{{user.email}}">

        <label for="name">Your first and last name:</label>
        <input type="text" id="name" name="name" required value="{{user.name}}">

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            {% for key, value in genders %}
                <option value="{{ key }}" {{ key == user.gender ? 'selected' : '' }}>{{value}}</option>
            {% endfor %}
        </select>

        <label for="status">Status:</label>
        <select id="status" name="status" required>     
            {% for key, value in statuses %}
                <option value="{{ key }}" {{ key == user.status ? 'selected' : '' }}>{{value}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success btn-lg" id="submitBtn">Submit</button>
    </form>
    <script>
        const userId = '{{user.id}}';
        
        const form = document.getElementById("editForm");
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = {};
            new FormData(event.target).forEach((value, key) => {
                formData[key] = value;
            });
            fetch(`http://localhost:8080/users/edit/${userId}`, {method: "PUT", body: JSON.stringify(formData)})
            .then((response) => {
            return response.json();
        })
            .then((data) => {
                console.log(data);
                alert(data.message);
            })
        })

        
    </script>
{% endblock %}